body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
}

table{
    text-align: right;
    
}
#datanasc,#curso,#sexo,#prontuario,#td_nome{
    text-align: left;    
    flex-wrap: wrap;
    
    
}
#prontuario_inp{
    width: 220px;
}
#nome_aluno{
    width: 300px;
    height: 19px;
    
}
#sexo_title{
    margin-left: 75px;
    margin-right: 15px;
        
}
#sexo{
    width: 56px;
    height: 27px;
    box-sizing: border-box;
}

#curso{
    width: 308px;
    
}
input{
    
    margin-left: 15px;
    height: 19px;
    
}
#curso{
    margin-left: 15px;
}
select{
    height: 25px;
}
#data{
    height: 21px;
    width: 113.5px;
}
td{
    padding:  5px;
}
.tabelas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.tabela2,.table2{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.container{
    width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dados_aluno,.cabecalho{
    padding: 3px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 10px;
    font-size: 20px;
}
.cadastro{
    font-size: 25px;
    padding: 3px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
    font-size: 25px;

}
#cpf_inp,.rg,#inp_tel,.celular{
    width: 90px;
}
#td_cpf,#td_tel{
    display: flex;
    justify-content: space-around;
   
}
#cpf_inp{
    margin-right: 5px;
}
.lbl_rg{
    margin-left: 69.5px
}

.lbl_celular{
    margin-left: 50px;
}

.tabela2{
    align-self: self-end;
    height: 80px;
   
}
.simbolo{
    height: 25px;
    width: 25px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #ccc;
    

}
input,select{
    border: 1px solid #ccc;
    border-radius: 3px;
    outline-color: rgb(144, 189, 241);
    outline-width: 10px;
}

td{
    color: rgb(58, 58, 58);
    font-size: 13px;
}
.inp_email{

    margin-left: 15px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.test{
    
    margin-left: 10px;
    outline: 0px;
    border: none;
    align-self: center;
    
}
.cabecalho{
    margin-top: 20px;
}
.submit td{

    height: 33px;
    width: 53.34px;
    
}

#datanasc2{
    display: flex;
    justify-content: space-between;
   
    
}
.lbl_celular,.lbl_celular2,.lbl_rg,.lbl_rg2{
    align-self: center
}

.lbl_rg2{
    margin-left: 70px;
}
.lbl_celular2{
    margin-left: 30px;
}
#data{
    height: 27px;
    box-sizing: border-box;
}

.tabela1{
    display: flex;
    flex-direction: row;
    justify-content: center;    
   
    
}
#td_cpf{
    justify-content: space-between;
}
.td_nome{
    width: 138.59px;
}

input[type=text],#nome_aluno,select{
    height: 27px;
    box-sizing: border-box;
}
#curso{
    width: 300px;
}
#prontuario{

    box-sizing: border-box;
}
input[type=submit]{
    width: 55px;
    height: 28px;
    color: white;
}
#enviar{
    background-color: rgb(4, 107, 155);
}
#limpar{
    background-color: rgb(223, 145, 2);
    
}
#limpar:hover,#enviar:hover{
    cursor: pointer;
}
.tabela1,.table1{
    width: 454px;
    box-sizing: border-box;
}
.tabela2,.table2{
    width: 411.51px;
    box-sizing: border-box;
    
}


.tabelao1{
    display: flex;
    justify-content: center;
    
}
.prontu{
    width: 121px;
    box-sizing: border-box;
}
#td_cpf{
    width: 326.08px;
    box-sizing: border-box;
}
.cpf_name{
    width: 82px;
    box-sizing: border-box;
}
