body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
}

table{
    text-align: right;
    
}
#datanasc,#curso,#sexo,#prontuario,#td_nome{
    text-align: left;    
    
    
}
#prontuario_inp{
    width: 220px;
}
#nome_aluno{
    width: 300px;
    height: 19px;
    
}
#sexo_title{
    margin-left: 84px;
    
}

#curso{
    width: 308px;
    
}
input{
    
    margin-left: 15px;
    height: 19px;
    
}
#curso{
    margin-left: 15px;
}
select{
    height: 25px;
}
#data{
    height: 21px;
    width: 113.5px;
}
td{
    padding:  5px;
}
.tabelas{
    display: flex;
    flex-direction: row;
    
}
.tabela1,.tabela2{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}
.container{
    width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dados_aluno{
    padding: 3px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 10px;
    font-size: 20px;
}
.cadastro{
    font-size: 25px;
    padding: 3px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
    font-size: 25px;

}
#cpf_inp,.rg{
    width: 90px;
}
.lbl_rg{
    margin-left: 69.5px
}
